

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  

}

/*  Main Section */

html,
body {
  height: 100%;
}

body {
  font-family: 'Gotu', sans-serif;
  font-size: medium;
  background: #D2E8FA; 
}

h1,
h2,
h3,
p {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;    
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}  

h2,
h3 {
  padding: 20px 0 10px;  
}

p {
  padding-bottom: 20px;    
}

.wrapper {
    background: aliceblue; 
    padding: 30px 0 30px;   
  }
  
.container {
  padding-top: 20px;
  padding-bottom:30px;   
}

.portfolio {
   margin-bottom: 1em;
   text-transform: uppercase;   
}

.profile-text {
  text-align: center; 
}

/*  Navigation Section */


.main-nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  display: block; 
  color: #000;

}

.nav li {
  padding:13px;
  margin: 0 5px 5px;
  text-align: center;
  display: block;
  background: aliceblue;     
}

 /* Images Section  */

img {
  width:100%;
  margin: 0 auto;
  padding: 10px;
  display: block;

}

.main-img,
.skills-img {
  width: 70%;
  padding: 10px 0 30px;    
}


/* Footer section */

.contact {
  padding: 25px 0 25px;  
}

.contact-header {
  padding-bottom: 25px;
  text-transform: uppercase;    
}

aside {
  padding: 25px 0 25px;
  margin-bottom: 1em; 
  border-top: 1px solid rgb(122, 122, 122);   
}

.samantha {
  float: left;
  height: 12px;
  line-height: 12px;
}

.top {
  float: right; 
  padding-right: 10px;
}

.top a {
    text-decoration: none;
    text-transform: uppercase; 
    color: #000; 
}


.top a:hover,
.nav li a:hover,
.email a:hover {
  color: #D77017;
}

.footer-nav {
  text-align: right;
  list-style: none;
  padding-left: 0;
}

li {
  display: inline-block;
}

.top,
.footer-nav li:last-child {
  margin-right: 0;
}

.full {
  display: none;
}

.nav li a,
.footer-nav li a {
  text-decoration: none; 
  text-transform: uppercase;
  line-height: 1.38em;
  color: #000;
}

.email a {
  text-decoration: none;
  color: #000;
}


/* Media Queries below */
/* Media Query for Min-width 768px */

@media (min-width: 768px) {
  
  .nav li {
    display: inline-block;   
  }

  header {
    text-align: center;
    background: aliceblue;
  }
  
  .name {
    padding: 1em 0 .6em;
    margin: 0;
  }

  .main-img {
    float: right;
    width: 37%;
    margin: 0 1em 0;
    
  }

  .skills-img {
    float: left;
    max-width: 370px;
    max-height: 270px;
    width:37%;
    margin: 0 1em 0;
  }

  .profile-text {
    margin-top: 1.5em;
    font-size: x-large;
    text-align: left;
  }

  .marketing,
  .travel,
  .gallery {
    float: left;
    width: 50%;
  }

  .search,
  .map,
  .calculator {
    float: right;
    width: 50%;
  }

  .skills {
    padding: 0 15px 0;
    margin: 0 5px 0;
  }

  .skills-header {
    padding-top: 0;
  }

  .gallery,
  .calculator {
    margin-bottom: 25px;
  }

  .contact {
    width: 100%;
  }

  .top {
     display: none;
  }

  .full {
    display: inline-block;
    padding-right: 20px;
  }

  .full a {
    text-decoration: none;
    text-transform: uppercase; 
    color: #000; 
}

  .full a:hover {
    color: #D77017;
  }

/* Media Query for Min-width 1024px */

@media (min-width: 1024px) {

  html {
    margin: 0 auto;
    max-width: 1100px;
  }

  body {
    background: rgb(228, 228, 248); 
  }

  .main-nav {
    padding-bottom: 15px;
  }

  .nav li {
    float: right;
    margin-top: 30px;
  }

  .name {
    float: left;
    margin-left: 10px;
  }
  
  .marketing,
  .map {
    float: left;
    width: 33.33%;
  }

  .travel,
  .calculator {
    float: right;
    width: 33.33%
  }

  .search,
  .gallery {
    width: 33.33%
  }

  .skill {
    padding-bottom: 60px;
  }

  .skills-img {
    max-width: 380px;
    max-height: 270px;
  }

  .container,
  footer {
    background: #D2E8FA; 
  }

}

/* Clearfix Below */

.clearfix::after {
  content: "";
  clear: both;
  display: table;    
}


